dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==2.0.1
Flask-Compress==1.10.1
folium==0.12.1
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-dashboards==0.7.0
jupyter-server==1.10.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.1
plotly==5.3.1
click==7.1.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
voila==0.2.11
